h1= title
form(method = "post")
    div
        div
            span Name:
            input(type="text", name="name", id="editCharacterName")
        div
            span Clan:
            input(type="text", name="clan", id="editCharacterClan")
        div#editCharacterSubmit
            input(type="submit", value="Send")