h1= title
#characters
    - each character in characters
      div.character
        div.name= character.name
        div.clan= character.clan
        div.covenants
            - each covenant in character.covenants
              span.covenant= covenant
        div Fim!